<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475945304366-ksgr0dcab9b7nnn9s660mb8k7l5ulgqf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475945304366-ksgr0dcab9b7nnn9s660mb8k7l5ulgqf</string>
	<key>API_KEY</key>
	<string>AIzaSyDEesAS9zCXLGNmk_pBGUWazy8xa2_usEo</string>
	<key>GCM_SENDER_ID</key>
	<string>475945304366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder-clone-8f1c8</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-clone-8f1c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475945304366:ios:bde44de823259ad14f7abf</string>
</dict>
</plist>